* {
    margin: 0;
    padding: 0;
}

body {
    margin-left: 240px;
    margin-top: 68px;
}

h1 {
    margin-bottom: 51px;
}

h5 {
    margin-bottom: 15px;
}

ul {
    list-style: none;
}

.info-contact {
    margin-bottom: 58px;
}

.flex-label {
    margin-bottom: 22px;
}

.flex-label ul {
    display: flex;
    gap: 31px;
}
