* {
    margin: 0;
    padding: 0;
}

body {
    margin-left: 240px;
    margin-top: 68px;
}

h1 {
    margin-bottom: 51px;
}

.hero {
    display: flex;
    gap: 113px;
}

h5 {
    margin-bottom: 15px;
}

ul {
    list-style: none;
}

.info-contact {
    margin-bottom: 58px;
}

.flex-label {
    margin-bottom: 22px;
}

.flex-label ul {
    display: flex;
    gap: 31px;
}

.info-contact input, .ship-address input {
    width: 466px;
    height: 56px;
    margin-bottom: 13px;
    border-radius: 12px;
}

.flex-label input {
    width: 217px;
}

.btn-continue {
    width: 166px;
    height: 54px;
    border-radius: 12px;
}

.card-items {
    background-color: #F2F2F2;
    width: 383px;
    height: 535px;
}

.container-images-block-info img {
    width: 124px;
    border-radius: 20px;
}

.container-images-block-info {
    margin-left: 30px;
    margin-top: 34px;
}

.container-images-block-info li {
    
    margin-bottom: 20px;
}