* {
    margin: 0;
    padding: 0;
}

body {
    margin-left: 240px;
    margin-top: 68px;
    font-family: "Montserrat", sans-serif;
}

h1 {
    margin-bottom: 51px;
    font-size: 36px;
}

.hero {
    display: flex;
    gap: 113px;
}

h5 {
    margin-bottom: 15px;
    font-size: 18px;
}

label {
    font-size: 12px;
}

ul {
    list-style: none;
}

.info-contact {
    margin-bottom: 58px;
}

.flex-label {
    margin-bottom: 22px;
}

.flex-label ul {
    display: flex;
    gap: 31px;
}

.info-contact input, .ship-address input {
    width: 466px;
    height: 56px;
    margin-bottom: 13px;
    border-radius: 12px;
}

.flex-label input {
    width: 217px;
}

.checkbox-style {
    width: 21px;
}

.btn-continue {
    width: 166px;
    height: 54px;
    border-radius: 12px;
    margin-left: 276px;
    color: white;
    background-color: #F2994A;
    border: none;
}

.card-items {
    background-color: #F2F2F2;
    width: 383px;
    height: 535px;
    border-radius: 12px;
}

 .shipping, .total {
    margin-left: 29px;
    margin-right: 29px;
    width: 325px;
    font-weight: bold;
 }

 .shipping {
    height: 41px;
    padding-top: 20px;
    margin-bottom: 15px;
    border-bottom: #828282 solid 1px;
    border-top: #828282 solid 1px;
 }

 .shipping span, .total span {
    margin-left: 210px;
 }

.container-images-block-info img {
    width: 124px;
    border-radius: 20px;
}

.container-images-block-info {
    margin-left: 30px;
    margin-top: 34px;
    margin-bottom: 100px;
}

.container-images-block-info li {
    display: flex;
    margin-bottom: 20px;
}
.container-images-block-info h5 {
    margin-bottom: 6px;
}

.container-description-items {
    margin-left: 21px;
}

.price-items{
    margin-bottom: 40px;
    color: #F2994A;
}

.price-items span {
    margin-left: 8px;
    color: black;
    text-decoration: line-through;
}

.container-compter {
    display: flex;
    width: 134px;
    border: #828282 solid 1px;
    justify-content: space-between;
    border-radius: 12px;
}

.container-compter button {
    width: 22px;
    border-radius: 4px;
    text-align: center;
    margin: 12px;
}

.container-compter p {
    margin-top: 12px;
}